<h1>New Tweet</h1>

<%= form_for(@tweet) do |f| %>

<!-- Check for errors -->
<% if @tweet.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@tweet.errors.count, 'error') %> prohibited this tweet from being saved:
    </h2>

    <!-- Loop through errors and show them as a list -->
    <ul>
      <% @tweet.errors.full_messages.each do |error_message| %>
        <li><%= error_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- Actual form -->
<div class="field">
  <%= f.label :message %><br>
  <%= f.text_field :message %>
</div>

<div class="field">
  <%= f.hidden_field :user_id, value: current_user.id %>
</div>

<div class="actions">
  <%= f.submit %>
</div>

<% end %>


<%= link_to 'Home', tweets_path, class: 'btn btn-danger' %>

